.card {
    background: #c1b8c3;
    border: 1px solid #342838;
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 42px;
    width: 32px;
    margin-right: 2px;
    margin-top: 5px;
    vertical-align: middle;
    height: 43px;
}

.spade {
    background: #4e4e4e;
    border: 1px solid #4e4e4e;


    &.selected {
        background: black;
    }
}

.heart {
    border: 1px solid #D28A86;
    background: #D28A86;

    &.selected {
        background: #bb2424;
    }
}

.club {
    border: 1px solid rgb(100, 195, 83);
    background: rgb(100, 195, 83);

    &.selected {
        background: #178e17;
    }
}

.diamond {
    border: 1px solid #5B97DF;
    background: #5B97DF;

    &.selected {
        background: #254ec1;
    }
}


.disabled {
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .card {
        width: 20px;
        height: 32px;
        line-height: 32px;
        font-size: 17px;
    }
}
