.home {
    margin: auto;
    width: 350px;
}

.label {
    font-size: 12px;
}

.titles {
    position: relative;
    margin-bottom: 10px;

    span {
        &:last-child {
            position: absolute;
            right: 0;
            top: 7px;
        }
    }
}

.share { 
    position: absolute;
    bottom: 37px;
    width: 225px;
    left: 50%;
    margin-left: -112.5px;
    text-align: center;
    font-size: 13px;
    color: #56435d;

    span {
        display: block;
        margin-top: 10px;
    }
}


@media screen and (max-width: 400px) {
    .home {
        width: 90%;
    }
}
