.home {
    margin: auto;
    width: 350px;
}

.label {
    font-size: 12px;
}

.titles {
    position: relative;
    margin-bottom: 10px;

    span {
        &:last-child {
            position: absolute;
            right: 0;
            top: 7px;
        }
    }
}

.share { 
    position: absolute;
    bottom: 50px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
}


@media screen and (max-width: 400px) {
    .home {
        width: 90%;
    }
}
